/* base.css */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#header {
    color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li.active {
    background-color: #555;
}

#timer {
    display:none;
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
}

.record {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.record input[type="text"],
.record button {
    width: 200px;
    margin: 10px 0;
}

#nickname {
    text-align: center;
    display: none;
    margin: 0 auto;
}

#save-record {
    display: none;
    padding: 10px 20px;
}

.record input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.rank {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin: 40px auto;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#banner {
    max-width: 680px; /* 최대 너비 설정 */
    width: 100%; /* 부모 요소에 따라 너비 조정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.menu-toggle {
    display: none; /* 기본적으로는 표시하지 않음 */
    color: white;
    cursor: pointer;
    background-color: #333;
}

/* 화면이 작을 때만 햄버거 메뉴 버튼 표시 */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* 모바일에서만 버튼 표시 */
        padding: 10px; /* 패딩 설정 */
    }

    nav ul {
        display: none; /* 기본적으로 메뉴 숨기기 */
        flex-direction: column; /* 아이템 세로 나열 */
        width: 100%; /* 너비 100% */
    }

    nav ul li {
        text-align: center; /* 텍스트 중앙 정렬 */
    }

    nav ul li a {
        padding: 10px; /* 패딩 조정 */
        border-bottom: 1px solid #555; /* 하단 경계선 추가 */
    }

    /* 'active' 클래스가 있을 때만 메뉴 표시 */
    .active {
        display: flex; /* 활성화 상태에서 메뉴 표시 */
    }
}