@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DAEAM_LEE_TAE_JOON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding-bottom: 80px;
    margin-top: 60px;
}

#header {
    color: white;
    font-family: 'omyu_pretty', sans-serif;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    max-height: 35px;
}

.logo span {
    font-size: 24px;
    line-height: 35px;
    color: white;
    font-weight: bold;
    font-family: 'DAEAM_LEE_TAE_JOON', sans-serif;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar-active ~ .overlay {
    display: block;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: -250px; 
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.sidebar-logo a {
    color: white;
    font-weight: bold;
    font-family: 'DAEAM_LEE_TAE_JOON', sans-serif;
    align-items: center;
    text-decoration: none;
}

.sidebar-logo img {
    max-width: 100px;
}

.sidebar-logo span {
    display: block;
    font-size: 18px;
}

.sidebar-main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

.sidebar-main-menu li {
    display: block;
}

.sidebar-main-menu .sidebar-dropdown > a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: white;
    transition: background 0.3s;
    border-bottom: 1px solid #474747;
}

.sidebar-main-menu .sidebar-dropdown > a:hover {
    background-color: #575757;
}

.sidebar-dropdown-content {
    display: none;
    background-color: #4c4c4c;
}

.sidebar-dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: white;
    transition: background 0.3s;
}

.sidebar-dropdown-content a:hover {
    background-color: #636363;
}

.sidebar-auth-buttons a {
    border: 1px solid #474747;
    display: block;
    margin: 10px;
    text-align: center;
    background: #1A1A1A;
    color: #FFF;
    padding: 10px 20px;
    transition: background 0.3s ease;
    text-decoration: none;
}

.sidebar-auth-buttons a:hover {
    background-color: #e2e2e2;
}

.sidebar.active {
    left: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 60px;
    margin: 0 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #E63946;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons a {
    margin-left: 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    min-width: 60px;
}

.auth-buttons a:hover {
    color: #E63946;
    background-color: #333333;
    border-color: #E63946;
    font-weight: bold;
}

.auth-buttons a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
    display: block;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 30%;
    opacity: 0.6;
    z-index: 0;
}

.auth-buttons a:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

#timer {
    display: none;
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
}

.record {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.record input[type="text"],
.record button {
    width: 200px;
    margin: 10px 0;
}

#nickname {
    text-align: center;
    display: none;
    margin: 0 auto;
}

#save-record {
    display: none;
    padding: 10px 20px;
}

.record input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.rank {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin: 40px auto;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#banner {
    position: fixed; /* 고정 위치 설정 */
    bottom: 0; /* 화면 하단에 위치 */
    width: 100%;
    margin: 0 auto;
    z-index: 10; /* 다른 요소들 위에 올라오도록 z-index 설정 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 상단에 그림자 효과를 줘서 더 돋보이게 함 */
}

.menu-toggle {
    display: none;
    color: white;
    cursor: pointer;
    background-color: #333;
}

@media screen and (max-width: 768px) {
    .nav-content {
        display: none;
    }
    .nav-content.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        background-color: #333;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 24px;
        padding: 10px;
    }
}

@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}

.countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(45deg, #f9a8d4, #fbcfe8, #a7f3d0);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pop 1s ease-out forwards;
}

@keyframes pop {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}