/* 게임 보드 스타일 */

#header, th, button {
    background-color: #da46b5;
}

button:hover, .game-board div:hover {
    background-color: #c240a1;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    /* 3x3 미로이므로 열 3개 */
    grid-gap: 2px;
    /* 셀 사이의 간격 */
    margin-top: 20px;
}
.maze {
    border-collapse: collapse;
}
.maze td {
    width: 20px;
    height: 20px;
}
.wall {
    background-color: black;
}
.path {
    background-color: white;
}
.player {
    background-color: red;
}