body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

#header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.game-board div {
  border: 2px solid #4CAF50;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-board div:hover {
  background-color: #e8e8e8;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.record {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.record input[type="text"], .record button {
  width: 200px; /* 이 너비를 조정하여 더 넓거나 좁게 만들 수 있습니다. */
  margin: 10px 0; /* 위, 아래 간격을 동일하게 설정합니다. */
}

#save-record {
  display: block; /* 버튼을 블록 요소로 만듭니다. */
  padding: 10px 20px; /* 버튼의 상하, 좌우 패딩입니다. */
}

button:hover {
  background-color: #45a049;
}

#timer {
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
}

.record input[type="text"] {
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.rank {
  margin-top: 40px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

/* 반응형 웹 디자인 */
@media screen and (max-width: 600px) {
  .game-board {
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
  }

  .game-board div {
    font-size: 18px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }

  #timer {
    font-size: 24px;
  }
}