body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

#header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.game-board div {
  border: 2px solid #666666;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-board div:hover {
  background-color: #e8e8e8;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}


.record {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.record input[type="text"], .record button {
  width: 200px; 
  margin: 10px 0;
}

#nickname {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#save-record {
  display: block;
  padding: 10px 20px;
}

button:hover {
  background-color: #45a049;
}

#timer {
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
}

.record input[type="text"] {
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.rank {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 20px;
  max-width: 800px;
  margin: 40px auto;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  background-color: #4CAF50;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* 반응형 웹 디자인 */
@media screen and (max-width: 600px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 100vw;
    height: auto;
    gap: 5px;
  }

  .game-board div {
    height: calc((100vw - 10px) / 3);
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }

  #timer {
    font-size: 24px;
  }
}