#header, th, select, button {
    background-color: #50C4C8;
    color: white;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 5px;
    padding: 10px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
}

.game-board input {
    border: none;
    background-color: #f0f0f0;
    font-size: 20px;
    font-weight: normal;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.game-board input:hover, select:hover, button:hover {
    background-color: #4CAFAF;
}

.game-board input.preset-cell {
    background-color: #e0e0e0;
    pointer-events: none;
}

select {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
}

.number-selector {
    position: absolute;
    border: 2px solid #50C4C8;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 컬럼으로 나눔 */
    grid-gap: 10px; /* 격자 간격 */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
    width: fit-content; 
}

.number-selector button {
    background-color: #50C4C8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.number-selector button:hover {
    background-color: #4CAFAF;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(9, minmax(30px, 1fr));
        gap: 3px;
    }

    .game-board input {
        font-size: 18px;
    }

    button, .record input[type="text"], .record button {
        padding: 10px 20px;
        font-size: 14px;
        width: 90%;
    }

    #timer {
        font-size: 24px;
    }

    .rank, table {
        width: 90%;
        margin: 20px auto;
    }
}
