body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#typing-game {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

#sentence {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #555;
}

#user-input {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#reset-button,
#start-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

#reset-button:hover,
#start-button:hover {
    background-color: #0056b3;
}

#timer,
#cpm {
    font-size: 1.5em;
    margin: 10px 0;
}

#finish-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}

.record,
.rank {
    margin-top: 20px;
}

.record input[type="text"] {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}


#nickname {
    text-align: center;
    display: block;
    margin: 0 auto 20px;
}

#save-record {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 20px auto 0;
    display: block;
}

#save-record:hover {
    background-color: #0056b3;
}

.rank {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin: 40px auto;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    background-color: #007bff;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}