#header {
    display: none;
}

.mbti-result {
    width: 60%;
    height: auto;
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    color: #555;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mbti-result *, .mbti-result *::before, .mbti-result *::after {
    box-sizing: border-box;
}

.mbti-result h1, .mbti-result h2, .mbti-result ul li {
    background: rgba(255, 255, 255, 0.6);
}

.mbti-result h1, .mbti-result h2 {
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.mbti-result h1 {
    font-size: 28px;
}

.mbti-result h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.mbti-result ul {
    list-style-type: none;
    padding: 0;
}

.mbti-result ul li {
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #8AA8D4;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .mbti-result {
        width: auto;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .mbti-result h1, .mbti-result h2 {
        font-size: 20px;
        padding: 5px 8px;
        margin-bottom: 15px;
    }

    .mbti-result ul li {
        font-size: 14px;
        padding: 10px;
    }
}