{% extends 'base.html' %}

{% block content %}
<div class="mbti">
    <title>{{ mbti_info.name }}</title>
    <h2>{{ mbti_info.name }}</h2>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mbti/mbti.css') }}">
    <img src="{{ mbti_info.image }}" alt="{{ mbti_info.name }}">
    <p>{{ mbti_info.description }}</p>
</div>
<div id="mbti-board" class="mbti-board"></div>
<button id="reset-button" onclick="resetTest()">리셋</button>
<button id="start-button">시작</button>
<script type="text/javascript">
    var questions = {{ questions|tojson|safe }};
    var mbtiUrl = "{{ mbti_info.url }}";
</script>
<script src="{{ url_for('static', filename='js/mbti/mbti.js') }}"></script>
{% endblock %}