/* 게임 보드 스타일 */

#header, th, button {
    background-color: #da46b5;
}

button:hover, .game-board div:hover {
    background-color: #c240a1;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
}

.countdown {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff; /* 그림자 효과 */
}