<!DOCTYPE html>
<html>

<head>
    <title>3x3 숫자 게임</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <h2>3X3 숫자 게임</h2>
        <span>※ 하루에 5번만 기록이 가능합니다.</span>
    </div>
    <div id="game-board" class="game-board"></div>
    <button id="reset-button">리셋</button>
    <button id="start-button">시작</button>
    <div id="timer">0</div>

    <!-- 닉네임 입력과 기록 저장 버튼 추가 -->
    <div class="record">
        <input type="text" id="nickname" placeholder="닉네임">
        <!-- 초기에는 버튼을 숨겨둡니다. -->
        <button id="save-record" style="display: none;">기록 저장</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div clas="rank">
        <h2>순위표</h2>
        <table>
            <tr>
                <th>순위</th>
                <th>닉네임</th>
                <th>시간</th>
                <th>날짜</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>