{% extends 'base.html' %}

{% block content %}
<title>미니 게임</title>
<h2>미니 게임 목록</h2>
<div class="minigames-container">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minigames.css') }}">
    <div class="game-buttons">
        <button id="box-view">박스형식</button>
        <button id="list-view">리스트형식</button>
    </div>
    <div class="games">
        {% for game in games %}
        <div class="game">
            <a href="{{ game.url }}">
                <div class="game-image">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </div>
                <div class="game-name">{{ game.name }}</div>
                <div class="game-description">{{ game.description }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/click.js') }}"></script>
{% endblock %}