{% extends 'base.html' %}

{% block content %}
    <title>스도쿠 게임</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/games/sudoku.css') }}">
    <div id="game-board" class="game-board"></div>
    <button id="reset-button">리셋</button>
    <button id="start-button">시작</button>
    <br/>
    <select id="difficulty">
        <option value="easy">쉬움</option>
        <option value="medium">보통</option>
        <option value="hard">어려움</option>
    </select>
    <div id="timer">0</div>
    <div id="number-selector" class="number-selector" style="display: none;">
        <button class="number-button" data-number="1">1</button>
        <button class="number-button" data-number="2">2</button>
        <button class="number-button" data-number="3">3</button>
        <button class="number-button" data-number="4">4</button>
        <button class="number-button" data-number="5">5</button>
        <button class="number-button" data-number="6">6</button>
        <button class="number-button" data-number="7">7</button>
        <button class="number-button" data-number="8">8</button>
        <button class="number-button" data-number="9">9</button>
    </div>
    <script src="{{ url_for('static', filename='js/games/sudoku.js') }}"></script>
{% endblock %}
