{% extends 'base.html' %}

{% block content %}
    <title>3X3 숫자 게임</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/three.css') }}">
    <div id="game-board" class="game-board"></div>
    <button id="reset-button">리셋</button>
    <button id="start-button">시작</button>
    <div id="timer">0</div>

    <div class="record">
        <input type="text" id="nickname" placeholder="닉네임">
        <button id="save-record" style="display: none;">기록 저장</button>
    </div>

    <script src="{{ url_for('static', filename='js/three.js') }}"></script>
{% endblock %}