{% extends 'base.html' %}

{% block content %}
    <title>타이핑 게임</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typing.css') }}">
    <div id="typing-game">
        <div id="sentence">여기에 랜덤 단어들이 표시됩니다.</div>
        <input type="text" id="user-input" placeholder="여기에 입력하세요" />
        <div id="result"></div>
    </div>
    <button id="reset-button">리셋</button>
    <button id="start-button">시작</button>
    <div id="timer" style="display: none;">0</div>
    <div id="cpm" style="display: none;">0</div>
    <div id="finish-message"></div>
    <script src="{{ url_for('static', filename='js/typing.js') }}"></script>
{% endblock %}