{% extends 'base.html' %}

{% block content %}
    <title>랜덤 단어 타자 연습</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typing.css') }}">

    <div id="header">
        <h2>랜덤 단어 타자 연습</h2>
        <span>※ 하루에 5번만 기록이 가능하며 띄어쓰기 정확해야 완료됩니다.</span>
    </div>

    <div id="typing-game">
        <div id="sentence">여기에 랜덤 단어들이 표시됩니다.</div>
        <input type="text" id="user-input" placeholder="여기에 입력하세요" />
        <div id="result"></div>
    </div>

    <button id="reset-button">리셋</button>
    <button id="start-button">시작</button>
    <div id="timer" style="display: none;">0</div>
    <div id="cpm" style="display: none;">0</div>
    <div id="finish-message"></div> <!-- 종료 메시지를 표시할 곳 -->

    <div class="record">
        <input type="text" id="nickname" placeholder="닉네임">
        <button id="save-record" style="display: none;">기록 저장</button>
    </div>

    <script src="{{ url_for('static', filename='js/typing.js') }}"></script>
    
    <div class="rank">
        <h2>순위표</h2>
        <table>
            <tr>
                <th>순위</th>
                <th>닉네임</th>
                <th>시간</th>
                <th>날짜</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
    

